node_modules
config.js
# some tests
finchandforkrestaurant.com-good
finchandforkrestaurant.com/
sites
assets
# trust semver ranges, don't be constantly insecure
package-lock.json
./sync-to-staging.js
